<!--
<div *ngIf="showModal" class="overlay fixed z-10 inset-0 fixed z-10 inset-0 overflow-y-auto h-screen flex items-center justify-center" aria-labelledby="modal-title" role="dialog" aria-modal="true">
   <div  class="w-1/5 flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
   <form>
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div [@slideIn]  class="çantialiased bg-gray-200 text-gray-900 font-sans        inline-block align-bottom bg-white text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">

             <div class="grid grid-cols-1">

<div class="mb-4 md:w-full">
            <label class="block text-xs mb-1">Username or Email</label>
            <input formControlName="email"  class="w-full border rounded p-2 outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="Username or Email">
          </div>
          <div class="mb-6 md:w-full">
            <label for="password" class="block text-xs mb-1">Password</label>
            <input  formControlName="password"  class="w-full border rounded p-2 outline-none focus:shadow-outline" type="password" name="password" id="password" placeholder="Password">
          </div>

            </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
  <button (click)="closeModal()"   class="bg-green-500 hover:bg-green-700 text-white uppercase text-sm font-semibold px-4 py-2 rounded">Cancel</button>

      </div>
    </div>
   </form>
  </div>
</div>
-->

<!--
<div *ngIf="showModal" class="overlay text-gray-900 font-sans  fixed z-10 inset-0 fixed z-10 inset-0 overflow-y-auto h-screen flex items-center justify-center" aria-labelledby="modal-title" role="dialog" aria-modal="true">
-->


<!--
<div *ngIf="showModal" class="overlay fixed z-10 inset-0 fixed z-10 inset-0 overflow-y-auto h-screen flex items-center justify-center" aria-labelledby="modal-title" role="dialog" aria-modal="true">

   <div  [@slideIn] class="w-1/5 flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"> 



    <div class="flex items-center h-screen w-full">
      <div class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto">
      <span class="block w-full text-xl uppercase font-bold mb-4">Login</span>      
        <form class="mb-4" action="/" method="post">
          <div class="mb-4 md:w-full">
            <label for="email" class="block text-xs mb-1">Username or Email</label>
            <input class="w-full border rounded p-2 outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="Username or Email">
          </div>
          <div class="mb-6 md:w-full">
            <label for="password" class="block text-xs mb-1">Password</label>
            <input class="w-full border rounded p-2 outline-none focus:shadow-outline" type="password" name="password" id="password" placeholder="Password">
          </div>
          <button (click)="closeModal()" class="bg-green-500 hover:bg-green-700 text-white uppercase text-sm font-semibold px-4 py-2 rounded">Login</button>
        </form>
        <a class="text-blue-700 text-center text-sm" href="/login">Forgot password?</a>
    </div>
  </div>


</div>
</div>
-->





<!--

<div *ngIf="showModal" class="overlay fixed z-10 inset-0 fixed z-10 inset-0 overflow-y-auto h-screen flex items-center justify-center" aria-labelledby="modal-title" role="dialog" aria-modal="true">
   <div  [@slideIn] class="w-1/5 flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
   <form>


    <div class="flex items-center h-screen w-full">
      <div class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto">
      <span class="block w-full text-xl uppercase font-bold mb-4">Login</span>      
        <form class="mb-4" action="/" method="post">
          <div class="mb-4 md:w-full">
            <label for="email" class="block text-xs mb-1">Username or Email</label>
            <input class="w-full border rounded p-2 outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="Username or Email">
          </div>
          <div class="mb-6 md:w-full">
            <label for="password" class="block text-xs mb-1">Password</label>
            <input class="w-full border rounded p-2 outline-none focus:shadow-outline" type="password" name="password" id="password" placeholder="Password">
          </div>
          <button (click)="closeModal()" class="bg-green-500 hover:bg-green-700 text-white uppercase text-sm font-semibold px-4 py-2 rounded">Login</button>
        </form>
        <a class="text-blue-700 text-center text-sm" href="/login">Forgot password?</a>
    </div>
  </div>


   </form>
  </div>
</div>

-->




<div *ngIf="showModal" class="overlay fixed z-10 inset-0 fixed z-10 inset-0 overflow-y-auto h-screen flex items-center justify-center" aria-labelledby="modal-title" role="dialog" aria-modal="true">
   <div  class="w-1/5 flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div [@slideIn]  class="çantialiased bg-gray-200 text-gray-900 font-sans  border rounded p-2      inline-block align-bottom bg-white text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
<!--i
     i
 <div class="bg-white px-2 mt-1 pt-3 pb-1 sm:p-1 sm:pb-1">








      <div class="w-full bg-gray rounded shadow-lg m-4 mt-0 mb-0 md:max-w-sm md:mx-auto">
-->
     <div class="grid grid-cols-1">
      <span class="block w-full text-xl uppercase font-bold mb-4">Login</span>      
        <form class="mb-4" action="/" method="post">
          <div class="mb-4 md:w-full">
            <label for="email" class="block text-xs mb-1">Username or Email</label>
            <input class="w-full border rounded p-2 outline-none focus:outline-none" type="email" name="email" id="email" placeholder="Username or Email">
          </div>
          <div class="mb-6 md:w-full">
            <label for="password" class="block text-xs mb-1">Password</label>
            <input class="w-full border rounded p-2 outline-none focus:outline-none" type="password" name="password" id="password" placeholder="Password">
          </div>
          <button (click)="closeModal()" class="bg-green-500 hover:bg-green-700 text-white uppercase text-sm font-semibold px-4 py-2 rounded">Login</button>
        </form>
     </div>
     <div class="grid grid-cols-2">
      <div>      
        <a class="text-blue-700 text-center text-sm" href="/login">Forgot password?</a>
      </div>
      <div>
        <a class="text-blue-700 text-center text-sm" href="/login">Not registered yet?</a> 
      </div>
     </div>
<!--
    </div>








      </div>
-->
    </div>
  </div>
</div>
